body {
	background-color: white;
    font-family: "Gentium Book Basic", "Georgia", serif;
}
#main {
	padding: 50px 25px 25px 25px;
	margin: 0 auto 0 auto;
	width: 85%;
	height: 600px;
}
#card {
    width:400px;
    margin: 0 auto 0 auto;
    padding-top: 30px;
}
#logo {
    margin-right: 20px;
	float: left;
	width: 150px;
	height: 150px;
}
#logo img {
    width: 150px;
    height: 150px;
}
#aboutMe {
	margin: 0 auto 0 auto;
	width: 65%;
}
#name {
	margin-top: 45px;
	margin-bottom: 90px;
}
#buttons {
	text-align: center;
	width: 65%;
    font-size: 1.4em;
	margin: 30px auto 0 auto;
}
#aboutMe p {
	text-align: center;
	margin-top: 15px;
	color: #170409;
	font-size: 150%;
}
#name h1 {
	color: black;
	margin-bottom: 5px;
}
#name a {
	text-decoration: none;
	color: black;
}
#name h3 {
	color: black;
	margin-top: 5px;
}

#logo img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
 }

@media screen and (max-width: 600px) {
	#main {
        padding-top: 0;
    }
    #card {
        width: 250px;
        padding-top: 0px;
    }
    #logo {
        margin: 0 50px 0 50px;
		float:none;
	}
	#name {
        margin-top: 0px;
        margin-bottom: 30px;
		margin-left: 25px;
        font-size: 0.9em;
	}
	body {
		background-color: white;
	}
    #aboutMe {
        font-size: 0.8em;
        width: 100%;
    }
    #buttons {
        font-size: 1.15em;
    }
	@media screen and (max-width: 386px) {
		#logo {
			margin-left: auto;
			margin-right: auto;
			float:none;
		}
		#name {
			margin: 0 auto 0 20%;
			width: 65%;
			height: 100px;
		}
		body {
			background-color: white;
		}
        
	}
}

